body,
#content {
    overflow: hidden;
    min-height: 200px;
    min-width: 350px;
    text-align: center;
    display: block;
}

h1 {
    font-size: medium;
}

a {
    margin: auto;
}

.fab, .fas {
    color: black;
    font-size: 20px;
}

.review, #status{
    display: block;
    margin: 2%;
}

#save {
    margin: 3%;
}

hr.solid {
    border-top: 3px solid #bbb;
}

p {
    margin-bottom: 0;
}